<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <style>
   .column {
    -webkit-column-width: 50px;
    -moz-column-width: 50px;
    column-width: 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
   }
  </style>
    <title>line-height</title>
    <style>
   h1 {
    line-height: 5%;
   }
   p {
    line-height: 1.0;
   }
  </style>
    <title>document 01</title>
</head>
<body style="background-color: #ffffff;">

<div class="column">

    <p>
        <FONT FACE="Times" SIZE=1><P ALIGN="LEFT">оператору </br>ИП "Погорельская Н. В."</br>656031, Алтайский край, г. Барнаул пр.Строителей, 29</P></FONT>

    <FONT FACE="Times" SIZE=1><P ALIGN="CENTER">СОГЛАСИЕ</br> субьекта персональных данных на обработку персональных данных</P></FONT>

    <FONT FACE="Times" SIZE=1><P ALIGN="LEFT">Настоящее согласие оформляется в соотвествии с требованиями Федерального закона Российской Федерации от 27 июля 2006г № 152-ФЗ "О персональных данных"</P> </FONT>

    <FONT FACE="Times" SIZE=1><P ALIGN="LEFT">ФИО (Полностью): [firstname] [secondname] [lastname] </br> Адрес: [address] </br>
        Паспорт или иной документ, удостоверяющий личность (номер документа, сведения о дате выдачи и органе, выдавшем документ)  [doc_serial] [doc_number]</P> </FONT>

    <FONT FACE="Times" SIZE=1><P ALIGN="LEFT">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Настоящим представляю согласие Оператору на обработку и хранение своих персональных данных на период деятельности гостиницы, согласно Федерального закона Российской Федерации от 27 июля 2006г № 152-ФЗ "О персональных данных", а именно - фамилия, имя, отчество, дата, и место рождения, паспортные данные, адрес регистрации, виза, миграционная карта гостя, адрес электронной почты, номер мобильного телефона - в целях информационно-справочного обслуживания, представления услуг проживания в гостинице.</br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Обработка персональных данных Оператором и лицами, осуществляющим обработку персональных данных по поручению Оператора, возможна как с использованием средств автоматизации (ввода данных начисления платы, проведения начислений, использование персональных данных при приеме платежей), так и без использования таких средств (подготовка платежных документов)</br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Мне гарантируется конфиденциальность моих персональных данных при их обработке.</br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Настоящим выражаю согласие на обработку вышеуказанных персональных данных в целях продвижения товаров и услуг Оператора на рынке в том числе путем осуществления прямых контактов со мной с помощью средств связи, в  том числе СМС-сообщения, факсимильнцю связь, электронную почту и другие средства связи.</P> </FONT>

    <FONT FACE="Times" SIZE=1><P ALIGN="LEFT">&nbsp; ___________личная подпись </br>
        Согласие действует в течении срока исполнения обязательств и может быть отозвано на основании моего письменного заявления не менее чем за три дня до момента отзыва согласия.</P> </FONT>
    <FONT FACE="Times" SIZE=1><P ALIGN="LEFT">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Дата [start_date] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________ (личная  подпись)</P> </FONT>
    </p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p>
        <U>
            <B> <FONT FACE="Times" SIZE=3><P ALIGN="CENTER">АНКЕТА</P> </FONT>	 </B>

    <FONT FACE="Times" SIZE=3><P ALIGN="CENTER">Хостел "Прованс"</br>
        656031, Алтайский край, г. Барнаул пр.Строителей, 29</P> </FONT>
    Комната  [appartamento]
    </U>

    <FONT FACE="Times" SIZE=3>
        <P ALIGN="Left"> 1. Фамилия  [firstname]</br>
            2. Имя    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  [secondname]</br>
            3. Отчество    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  [lastname]</br>
            4. Дата рождения    &nbsp;&nbsp;&nbsp;&nbsp;  [beathday]</br>
            5. Пол &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; [sex]</br>
            6. Место рождения &nbsp;&nbsp; [beath_country] [beath_place]</br>
            7. Гражданство &nbsp;&nbsp; РФ</br>
            8. Документ, удост. личность &nbsp;&nbsp; [doc_type] [doc_serial] [doc_number]</br>
            Выдан: [doc_create_org] </br>
            Дата выдачи: [doc_create_date] Код подразделения: [doc_create_org_code]</br>
            9. Место жительства: &nbsp;&nbsp; [address]</br>
            10. С правилами проживания и поведения в гостинице и правилами пожарной безопасности ознакомлен &nbsp;&nbsp; _________</br>
            11. Прибыл &nbsp;&nbsp; [start_date] Выбыл [stop_date]</br>
            12. Зарегистрировал &nbsp;&nbsp; [admin_name] &nbsp;&nbsp; </br> Подпись _________[admin_name]</br>
            Электронный адрес (e-mail) [email]</br>
            Номер мобильного телефона [mobile_phone]</br>
        </P>
    </FONT>

    <U>
        <B> <FONT FACE="Times" SIZE=3><P ALIGN="CENTER">АНКЕТА</P> </FONT>	 </B>

        <FONT FACE="Times" SIZE=3><P ALIGN="CENTER">Хостел "Прованс"</br>
            656031, Алтайский край, г. Барнаул пр.Строителей, 29</P> </FONT>
        Комната  [appartamento]
    </U>

    <FONT FACE="Times" SIZE=3>
        <P ALIGN="Left"> 1. Фамилия  [firstname]</br>
            2. Имя    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  [secondname]</br>
            3. Отчество    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  [lastname]</br>
            4. Дата рождения    &nbsp;&nbsp;&nbsp;&nbsp;  [beathday]</br>
            5. Пол &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; [sex]</br>
            6. Место рождения &nbsp;&nbsp; [beath_country] [beath_place]</br>
            7. Гражданство &nbsp;&nbsp; РФ </br>
            8. Документ, удост. личность &nbsp;&nbsp; [doc_type] [doc_serial] [doc_number]</br>
            Выдан: [doc_create_org] </br>
            Дата выдачи: [doc_create_date] Код подразделения: [doc_create_org_code]</br>
            9. Место жительства: &nbsp;&nbsp; [address]</br>
            </br>
            10. С правилами проживания и поведения в гостинице и правилами пожарной безопасности ознакомлен &nbsp;&nbsp; _________</br>
            11. Прибыл &nbsp;&nbsp; [start_date] Выбыл [stop_date]</br>
            12. Зарегистрировал &nbsp;&nbsp; [admin_name] &nbsp;&nbsp; </br> Подпись _________[admin_name]</br>
            Электронный адрес (e-mail) [email]</br>
            Номер мобильного телефона [mobile_phone]</br>
        </P>
    </FONT>
    </p>
</div>
</body>
</html>
